In [1]:
# Initial imports.
import pandas as pd
from path import Path

In [5]:
# Loading data after database join of seasons/quarters file and Apple's stock file
# https://towardsdatascience.com/4-tricks-you-should-know-to-parse-date-columns-with-pandas-read-csv-27355bb2ad0e#:~:text=By%20default%2C%20date%20columns%20are%20parsed%20using%20the,a%20different%20date%20format%2C%20for%20example%2C%20YYYY-DD-MM%20HH%3AMM%3ASS%3A
file_path =Path("AAPL_Mock_ML_CLOSE_DATE.csv")
date_df = pd.read_csv(file_path, parse_dates=['Date'])
date_df.set_index('Unnamed: 0',inplace=True)
date_df.index.name=None
date_df.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [8]:
file_path =Path("AAPL_Mock_ML_CLOSE_NO_DATE.csv")
no_date_df = pd.read_csv(file_path)
no_date_df.set_index('Unnamed: 0',inplace=True)
no_date_df.index.name=None
no_date_df.head()

,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Open_24hr_Change,Gain/Loss_Open
0,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,-0.003348,Loss
1,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.001674,Gain
4,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005023,Gain

In [13]:
# merge both
merged_AAPL_MOCK_ML_CLOSE = date_df.join(no_date_df, how='outer')
merged_AAPL_MOCK_ML_CLOSE.head()

,Date,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Open_24hr_Change,Gain/Loss_Open
0,1981-02-11,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,-0.003348,Loss
1,1981-02-12,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,1981-02-13,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,1981-02-17,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.001674,Gain
4,1981-02-18,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005023,Gain

In [24]:
# save to csv
merged_AAPL_MOCK_ML_CLOSE.to_csv('merged_AAPL_MOCK_ML_CLOSE.csv')

In [14]:
file_path =Path("AAPL_Mock_ML_OPEN_DATE.csv")
open_date_df = pd.read_csv(file_path, parse_dates=['Date'])
open_date_df.set_index('Unnamed: 0',inplace=True)
open_date_df.index.name=None
open_date_df.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [15]:
file_path =Path("AAPL_Mock_ML_OPEN_NO_DATE.csv")
no_open_date_df = pd.read_csv(file_path)
no_open_date_df.set_index('Unnamed: 0',inplace=True)
no_open_date_df.index.name=None
no_open_date_df.head()

,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Open_24hr_Change,Gain/Loss_Open
0,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,-0.003348,Loss
1,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.001674,Gain
4,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005023,Gain

In [16]:
# merge both
merged_AAPL_MOCK_ML_OPEN = open_date_df.join(no_open_date_df, how='outer')
merged_AAPL_MOCK_ML_OPEN.head()

,Date,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Open_24hr_Change,Gain/Loss_Open
0,1981-02-11,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,-0.003348,Loss
1,1981-02-12,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,1981-02-13,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,1981-02-17,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.001674,Gain
4,1981-02-18,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005023,Gain

In [25]:
merged_AAPL_MOCK_ML_OPEN.to_csv('merged_AAPL_MOCK_ML_OPEN.csv')

In [17]:
file_path =Path("AAPL_Mock_ML_HIGH_DATE.csv")
high_date_df = pd.read_csv(file_path, parse_dates=['Date'])
high_date_df.set_index('Unnamed: 0',inplace=True)
high_date_df.index.name=None
high_date_df.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [18]:
file_path =Path("AAPL_Mock_ML_HIGH_NO_DATE.csv")
no_high_date_df = pd.read_csv(file_path)
no_high_date_df.set_index('Unnamed: 0',inplace=True)
no_high_date_df.index.name=None
no_high_date_df.head()

,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,High_24hr_Change,Gain/Loss_High
0,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,0.118304,Gain
1,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.002233,Gain
4,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005580,Gain

In [19]:
# merge both
merged_AAPL_MOCK_ML_HIGH = high_date_df.join(no_high_date_df, how='outer')
merged_AAPL_MOCK_ML_HIGH.head()

,Date,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,High_24hr_Change,Gain/Loss_High
0,1981-02-11,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,0.118304,Gain
1,1981-02-12,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,1981-02-13,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,1981-02-17,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.002233,Gain
4,1981-02-18,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005580,Gain

In [26]:
merged_AAPL_MOCK_ML_HIGH.to_csv('merged_AAPL_MOCK_ML_HIGH.csv')

In [20]:
file_path =Path("AAPL_Mock_ML_LOW_DATE.csv")
low_date_df = pd.read_csv(file_path, parse_dates=['Date'])
low_date_df.set_index('Unnamed: 0',inplace=True)
low_date_df.index.name=None
low_date_df.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [21]:
file_path =Path("AAPL_Mock_ML_LOW_NO_DATE.csv")
no_low_date_df = pd.read_csv(file_path)
no_low_date_df.set_index('Unnamed: 0',inplace=True)
no_low_date_df.index.name=None
no_low_date_df.head()

,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Low_24hr_Change,Gain/Loss_Low
0,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,0.117746,Gain
1,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.002233,Gain
4,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005580,Gain

In [22]:
# merge both
merged_AAPL_MOCK_ML_LOW = low_date_df.join(no_low_date_df, how='outer')
merged_AAPL_MOCK_ML_LOW.head()

,Date,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Low_24hr_Change,Gain/Loss_Low
0,1981-02-11,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,0.117746,Gain
1,1981-02-12,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,1981-02-13,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,1981-02-17,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.002233,Gain
4,1981-02-18,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005580,Gain

In [27]:
merged_AAPL_MOCK_ML_LOW.to_csv('merged_AAPL_MOCK_ML_LOW.csv')