In [1]:
# Initial imports.
import pandas as pd
from path import Path

In [2]:
# Loading data after database join of seasons/quarters file and Apple's stock file
# https://towardsdatascience.com/4-tricks-you-should-know-to-parse-date-columns-with-pandas-read-csv-27355bb2ad0e#:~:text=By%20default%2C%20date%20columns%20are%20parsed%20using%20the,a%20different%20date%20format%2C%20for%20example%2C%20YYYY-DD-MM%20HH%3AMM%3ASS%3A
file_path =Path("AAPL.csv")
aapl_df = pd.read_csv(file_path, parse_dates=['Date'])
aapl_df.head(10)

        Date      Open      High       Low     Close  Adj Close     Volume
0 1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100751  469033600
1 1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095495  175884800
2 1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088485  105728000
3 1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090676   86441600
4 1980-12-18  0.118862  0.119420  0.118862  0.118862   0.093304   73449600
5 1980-12-19  0.126116  0.126674  0.126116  0.126116   0.098999   48630400
6 1980-12-22  0.132254  0.132813  0.132254  0.132254   0.103817   37363200
7 1980-12-23  0.137835  0.138393  0.137835  0.137835   0.108198   46950400
8 1980-12-24  0.145089  0.145647  0.145089  0.145089   0.113892   48003200
9 1980-12-26  0.158482  0.159040  0.158482  0.158482   0.124405   55574400

In [3]:
aapl_df['Date'].dtype

dtype('<M8[ns]')